footer {
    background-color:#6cf;
    color: black;
    text-align:center;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}

body {
    background-color: aqua;
}

.allButFooter {
    min-height: calc(100vh - 40px);
    margin: 10px;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.left {
    /* background-color: brown; */
    width:20vw;
}

.center {
     /* background-color: yellow; */
     width:60vw;
}

.right {
     /* background-color: orange; */
     width:20vw;
}

.warning {
     font-size: 20px;
     /*
     background-color: skyblue;
     */
     color: red;
     padding: 20px;
}

.routine-table {
     margin-bottom: 20px;
}

table {
    width: 80%;
    text-align: center;
}


.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
