.container{
    display:flex;
    justify-content: center;
    align-items: center;
     }
  
  .left{
     /*
    background-color: cyan;
    */
    width:20vw;
  }
  
  .center{
     /*
     background-color: yellow;
     */
     width:60vw;
  }
  
  .right{
     /*
     background-color: orange;
     */
     width:20vw;
  }

  .warning{
     font-size: 20px;
     /*
     background-color: skyblue;
     */
     color: red;
  }
  
  .wrapper{
     margin-top: 100px;
     margin-bottom: 100px;
  }

   .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
  }